<?xml version="1.0" encoding="utf-8"?>
<control  xmlns="http://www.askia.com/2.2.0/ADCSchema"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.askia.com/2.2.0/ADCSchema https://raw.githubusercontent.com/AskiaADX/ADXSchema/2.2.0/ADCSchema.xsd"
          version="2.2.0"
          askiaCompat="5.5.2">
  <info>
    <name>StarRating</name>
    <guid>58f3619d-2193-48b6-927c-b81c985aaee2</guid>
    <version>3.1.1</version>
    <date>2022-10-18</date>
    <description><![CDATA[v1.0.4 - removed CSS3 Pie
		v1.0.5 - changed tooltips to pure CSS to ensure backwards compatability
			   - fixed star rollovers for numeric questions
			   - fixed error writing data for single type questions in loop
		v1.0.6 - enabled control to be used in loops
			   - enabled DK for numeric and single choice questions
		v1.0.7 - fixed issue with DK width
		v1.0.10 - fixed issue with numeric loops
		v1.0.11 - fixed issue with caption for loops caption
		v1.0.12 - fixed issue with width in merged screens
        v1.0.13 - added 4 extra icon sets
		v1.0.14 - fixed dk hover when selected
		v2.0.0 - Theme implementation
		v2.0.1 - PureJS version
		v2.0.4 - Fixed Tool Tip styling
		v2.0.5 - Fixed single loop and numerical star rating
		v2.0.6 - Fixed tooptip for numeric
		v2.0.6 - Fixed auto forward
		v2.0.7 - Fixed hover bug on touch device
		v2.0.8 - Added alt attribute to img
		v3.0.0 - AvailableAnswers
    v3.1.0 - Libraies updated
           - share folder removed
    v3.1.1 - DOF runtime errors, fixed]]></description>
    <company>Askia</company>
    <author><![CDATA[Paul Ferreira <paulf@askia.com>        Jerome Duparc <jeromed@askia.com>]]></author>
    <site>http://www.askia.com</site>
    <helpURL>https://dev.askia.com</helpURL>
    <categories>
      <category>General</category>
    </categories>
    <constraints>
      <constraint on="questions" single="true" numeric="true" chapter="false" date="false" multiple="false" open="false" requireParentLoop="false" requireLoopDepth="0" />
      <constraint on="controls" textbox="true" responseblock="true" checkbox="false" label="false" listbox="false" radiobutton="false" />
      <constraint on="responses" max="*" min="*" />
    </constraints>
  </info>
  <outputs defaultOutput="fallback">
    <output id="standard" manageLoopDepth="1">
      <description><![CDATA[
                Output when the browser support Javascript
            ]]></description>
      <condition><![CDATA[
                Browser.Support("javascript")
            ]]></condition>
      <content fileName="starRating.css" type="css" mode="static" position="head" />
      <content fileName="standard.html" type="html" mode="dynamic" position="placeholder" />
      <content fileName="standard_single.html" type="html" mode="dynamic" position="none" />
      <content fileName="standard_numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="standard_single_loop.html" type="html" mode="dynamic" position="none" />
      <content fileName="standard_numeric_loop.html" type="html" mode="dynamic" position="none" />
      <content fileName="es5-shim.min.js" type="javascript" mode="static" position="head">
        <yield><![CDATA[<!--[if lt IE 10]>
            <script type="text/javascript" src="{%= CurrentADC.URLTo("static/es5-shim.min.js") %}"></script>
          <![endif]-->]]></yield>
      </content>
      <content fileName="domready.js" type="javascript" mode="static" position="head" />
      <content fileName="tippy.min.js" type="javascript" mode="static" position="head" />
      <content fileName="tippy.css" type="css" mode="static" position="head" />
      <content fileName="standard.css" type="css" mode="dynamic" position="head" />
      <content fileName="standard.js" type="javascript" mode="dynamic" position="foot" />
      <content fileName="standard_single.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="standard_numeric.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="standard_single_loop.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="standard_numeric_loop.js" type="javascript" mode="dynamic" position="none" />
      <content fileName="star.png" type="image" mode="static" position="none" />
      <content fileName="starRating.js" type="javascript" mode="static" position="head" />
      <content fileName="heart.png" type="image" mode="static" position="none" />
      <content fileName="sun.png" type="image" mode="static" position="none" />
      <content fileName="thumb.png" type="image" mode="static" position="none" />
      <content fileName="tick.png" type="image" mode="static" position="none" />
    </output>
    <output id="fallback" manageLoopDepth="1">
      <description><![CDATA[
                Fallback when the browser doesn&rsquo;t support Javascript
            ]]></description>
      <condition><![CDATA[
                Not(Browser.Support("javascript"))
            ]]></condition>
      <content fileName="default.css" type="css" mode="static" position="head" />
      <content fileName="single.html" type="html" mode="dynamic" position="none" />
      <content fileName="single_loop.html" type="html" mode="dynamic" position="none" />
      <content fileName="numeric.html" type="html" mode="dynamic" position="none" />
      <content fileName="numeric_loop.html" type="html" mode="dynamic" position="none" />
      <content fileName="default.html" type="html" mode="dynamic" position="placeholder" />
    </output>
  </outputs>
  <properties>
    <category id="general" name="General">
      <property xsi:type="standardProperty" id="use" name="Use" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Image to use]]></description>
        <value><![CDATA[star]]></value>
        <options>
          <option value="star" text="Star" />
          <option value="heart" text="Heart" />
          <option value="tick" text="Tick" />
          <option value="thumb" text="Thumb" />
          <option value="sun" text="Sun" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="controlWidth" name="Control Width" type="string" mode="static">
        <description><![CDATA[The width of the control]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxWidth" name="Max Width" type="string" mode="static">
        <description><![CDATA[The maximum width of the control]]></description>
        <value><![CDATA[100%]]></value>
      </property>
      <property xsi:type="standardProperty" id="controlAlign" name="Control Alignment" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[The alignment of the control]]></description>
        <value><![CDATA[center]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="animateResponses" name="Animate Responses" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the resonses fly into the screen]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="autoForward" name="Auto Forward" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether the question continues to the next automatically if a single choice question]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="useList" name="Use a selection list" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Use a select list to enumerate all available responses.
          This option works with closed and numeric questions.
          For numeric question, the range between bounds should be inferior than 20. It take in account the step option.]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="isInLoop" name="Is in loop" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Turn this on to use the control in a loop]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
    </category>
    <category id="tooltips" name="Tool Tips">
      <property xsi:type="standardProperty" id="showTooltips" name="Show tooltips" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Show tooltips when hovering over the stars when used with a single choice question]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="tooltipFontSize" name="Tooltip font size" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font size for the tooltip]]></description>
        <value><![CDATA[{%= Theme.NormalFS %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipFontColour" name="Tooltip font colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The font colour for the tooltip]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipCurvedCorners" name="Tooltip border radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border radius on tooltips]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipColourPrimary" name="Tooltip Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the tooltip]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipBorderColour" name="Tooltip Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[tooltip Border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipBorderThickness" name="Tooltip Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the tooltip]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="tooltipBorderStyle" name="Tooltip Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the tooltip]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
    </category>
    <category id="stars" name="Stars">
      <property xsi:type="standardProperty" id="numberOfStars" name="Number of Stars" type="number" mode="static">
        <description><![CDATA[The number of stars]]></description>
        <value><![CDATA[5]]></value>
      </property>
    </category>
    <category id="loopedResponses" name="Looped Responses">
      <property xsi:type="standardProperty" id="showCaption" name="Show Captions" type="string" mode="static">
        <description><![CDATA[Show caption]]></description>
        <value><![CDATA[inline-block]]></value>
        <options>
          <option value="none" text="No" />
          <option value="inline-block" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="leftSideWidth" name="Left side width" type="string" mode="static">
        <description><![CDATA[Left side wide]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="captionWidth" name="Caption width" type="string" mode="static">
        <description><![CDATA[Caption width]]></description>
        <value><![CDATA[auto]]></value>
      </property>
      <property xsi:type="standardProperty" id="showImage" name="Show Images" type="string" mode="static">
        <description><![CDATA[Show image]]></description>
        <value><![CDATA[inline-block]]></value>
        <options>
          <option value="none" text="No" />
          <option value="inline-block" text="Yes" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="imageAlign" name="Image Align" type="string" mode="static">
        <description><![CDATA[Show image]]></description>
        <value><![CDATA[right]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="right" text="Right" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="rowVerticalAlignment" name="Row Vertical alignment" type="string" mode="static">
        <description><![CDATA[Row alignment]]></description>
        <value><![CDATA[middle]]></value>
        <options>
          <option value="top" text="Top" />
          <option value="middle" text="Middle" />
          <option value="bottom" text="Bottom" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="captionTextAlign" name="Caption text alignment" type="string" mode="static">
        <description><![CDATA[Row alignment]]></description>
        <value><![CDATA[left]]></value>
        <options>
          <option value="left" text="Left" />
          <option value="center" text="Center" />
          <option value="right" text="Right" />
        </options>
      </property>
    </category>
    <category id="images" name="Images">
      <property xsi:type="standardProperty" id="maxImageWidth" name="Max Image Width" type="number" mode="static">
        <description><![CDATA[Set max image width]]></description>
        <value><![CDATA[100]]></value>
      </property>
      <property xsi:type="standardProperty" id="maxImageHeight" name="Max Image Height" type="number" mode="static">
        <description><![CDATA[Set max image height]]></description>
        <value><![CDATA[100]]></value>
      </property>
      <property xsi:type="standardProperty" id="forceImageSize" name="Force image size" type="string" mode="static">
        <description><![CDATA[Force height or width for all images]]></description>
        <value><![CDATA[width]]></value>
        <options>
          <option value="no" text="No" />
          <option value="width" text="Force width" />
          <option value="height" text="Force height" />
          <option value="both" text="Force both" />
        </options>
      </property>
    </category>
    <category id="dk" name="DK">
      <property xsi:type="standardProperty" id="dkSingle" name="Turn on DK for single choice question" type="string" mode="dynamic" require="true" visible="true">
        <description><![CDATA[Whether or not to use the last single choice option as a DK]]></description>
        <value><![CDATA[0]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkText" name="DK Text" type="string" mode="static">
        <description><![CDATA[Text for DK]]></description>
        <value><![CDATA[Don't know]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkTextPadding" name="DK Text Padding" type="string" mode="static" require="false" visible="true">
        <description><![CDATA[When set this will force the height of the reponses]]></description>
        <value><![CDATA[0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkMargin" name="DK Margin" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[Margin of the DK]]></description>
        <value><![CDATA[0 0 0 0.5em]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkColourPrimary" name="DK Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the DK]]></description>
        <value><![CDATA[{%= Theme.NeutralLightColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkFontColour" name="DK Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Font colour]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="borderRadius" name="Border Radius" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The amount of curve on the response corners]]></description>
        <value><![CDATA[{%= Theme.BorderRadius %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkBorderColour" name="DK Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[DK Border colour]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkBorderThickness" name="DK Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the DK]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkBorderStyle" name="DK Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the DK]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkShadow" name="DK Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the DK]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showDkHoverColour" name="Show DK Hover Colour" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[This will change the colour of DK when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkHoverColourPrimary" name="DK Hover Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the DK when hovering]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showDkHoverFontColour" name="Show DK Hover Font Colour" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the text of DK when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkHoverFontColour" name="DK Hover Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for DK when hovering]]></description>
        <value><![CDATA[{%= Theme.BlackColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="showDkHoverBorder" name="Show DK Hover Border" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the border of DK when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkHoverBorderColour" name="DK Hover Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for DK when hovering]]></description>
        <value><![CDATA[{%= Theme.NeutralDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkHoverBorderThickness" name="DK Hover Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the DK when hovering]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkHoverBorderStyle" name="DK Hover Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the DK when hovering]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="showDkHoverShadow" name="Show DK Hover Shadow" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[This will change the colour of the shadow of DK when hovered over]]></description>
        <value><![CDATA[1]]></value>
        <options>
          <option value="1" text="Yes" />
          <option value="0" text="No" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkHoverShadow" name="DK Hover Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the DK when hovering]]></description>
        <value><![CDATA[0px 2px 4px rgba(0,0,0,.2)]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkSelectedColourPrimary" name="Selected DK Background Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Background colour of the selected DK]]></description>
        <value><![CDATA[{%= Theme.PrimaryColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkSelectedFontColour" name="Selected DK Font Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Font colour for selected DK]]></description>
        <value><![CDATA[{%= Theme.WhiteColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkSelectedBorderColour" name="Selected DK Border Colour" type="color" mode="dynamic" require="true" visible="false">
        <description><![CDATA[Border colour for selected DK]]></description>
        <value><![CDATA[{%= Theme.PrimaryDarkColor %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkSelectedBorderThickness" name="Selected DK Border Thickness" type="string" mode="dynamic" require="true" visible="false">
        <description><![CDATA[The thickness of the border around the selected DK]]></description>
        <value><![CDATA[{%= Theme.BorderWidth %}]]></value>
      </property>
      <property xsi:type="standardProperty" id="dkSelectedBorderStyle" name="DK Border Style" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The style of the border around the selected DK]]></description>
        <value><![CDATA[solid]]></value>
        <options>
          <option value="none" text="None" />
          <option value="solid" text="Solid" />
          <option value="dashed" text="Dashed" />
          <option value="dotted" text="Dotted" />
          <option value="double" text="Double" />
        </options>
      </property>
      <property xsi:type="standardProperty" id="dkSelectedShadow" name="Selected DK Drop Shadow" type="string" mode="static" require="false" visible="false">
        <description><![CDATA[The visibility of a dropshadow under the DK responses]]></description>
        <value><![CDATA[none]]></value>
        <options>
          <option value="0px 2px 4px rgba(0,0,0,.2)" text="On" />
          <option value="none" text="Off" />
        </options>
      </property>
    </category>
  </properties>
</control>
