/* standard.css */
{%
Dim controlAlign =CurrentADC.PropValue("controlAlign")
Dim showCaption =CurrentADC.PropValue("showCaption")
Dim showImage =CurrentADC.PropValue("showImage")
Dim captionWidth =CurrentADC.PropValue("captionWidth")
Dim captionTextAlign =CurrentADC.PropValue("captionTextAlign")
Dim imageAlign =CurrentADC.PropValue("imageAlign")
Dim rowVerticalAlignment =CurrentADC.PropValue("rowVerticalAlignment")
Dim leftSideWidth =CurrentADC.PropValue("leftSideWidth")

Dim borderRadius =CurrentADC.PropValue("borderRadius")
Dim dkTextPadding =CurrentADC.PropValue("dkTextPadding")
Dim dkMargin =CurrentADC.PropValue("dkMargin")
Dim dkColourPrimary =CurrentADC.PropValue("dkColourPrimary")
Dim dkColourSecondary =CurrentADC.PropValue("dkColourSecondary")
Dim dkFontColour =CurrentADC.PropValue("dkFontColour")
Dim dkBorderColour =CurrentADC.PropValue("dkBorderColour")
Dim dkBorderThickness =CurrentADC.PropValue("dkBorderThickness")
Dim dkBorderStyle =CurrentADC.PropValue("dkBorderStyle")
Dim dkShadow =CurrentADC.PropValue("dkShadow")
Dim showDkHoverColour =CurrentADC.PropValue("showDkHoverColour")
Dim dkHoverColourPrimary =CurrentADC.PropValue("dkHoverColourPrimary")
Dim dkHoverColourSecondary =CurrentADC.PropValue("dkHoverColourSecondary")
Dim showDkHoverFontColour =CurrentADC.PropValue("showDkHoverFontColour")
Dim dkHoverFontColour =CurrentADC.PropValue("dkHoverFontColour")
Dim showDkHoverBorder =CurrentADC.PropValue("showDkHoverBorder")
Dim dkHoverBorderColour =CurrentADC.PropValue("dkHoverBorderColour")
Dim dkHoverBorderThickness =CurrentADC.PropValue("dkHoverBorderThickness")
Dim dkHoverBorderStyle =CurrentADC.PropValue("dkHoverBorderStyle")
Dim showDkHoverShadow =CurrentADC.PropValue("showDkHoverShadow")
Dim dkHoverShadow =CurrentADC.PropValue("dkHoverShadow")
Dim dkSelectedColourPrimary =CurrentADC.PropValue("dkSelectedColourPrimary")
Dim dkSelectedColourSecondary =CurrentADC.PropValue("dkSelectedColourSecondary")
Dim dkSelectedFontColour =CurrentADC.PropValue("dkSelectedFontColour")
Dim dkSelectedBorderColour =CurrentADC.PropValue("dkSelectedBorderColour")
Dim dkSelectedBorderThickness =CurrentADC.PropValue("dkSelectedBorderThickness")
Dim dkSelectedBorderStyle =CurrentADC.PropValue("dkSelectedBorderStyle")
Dim dkSelectedShadow =CurrentADC.PropValue("dkSelectedShadow")

Dim tooltipFontSize =CurrentADC.PropValue("tooltipFontSize")
Dim tooltipFontColour =CurrentADC.PropValue("tooltipFontColour")
Dim tooltipCurvedCorners =CurrentADC.PropValue("tooltipCurvedCorners")

Dim tooltipColourPrimary =CurrentADC.PropValue("tooltipColourPrimary")
Dim tooltipColourSecondary =CurrentADC.PropValue("tooltipColourSecondary")
Dim tooltipBorderColour =CurrentADC.PropValue("tooltipBorderColour")
Dim tooltipBorderThickness =CurrentADC.PropValue("tooltipBorderThickness")
Dim tooltipBorderStyle =CurrentADC.PropValue("tooltipBorderStyle")

%}

#adc_{%= CurrentADC.InstanceId%} {
	text-align:{%= controlAlign%};
}

#adc_{%= CurrentADC.InstanceId%} .controlContainer { 
	text-align:{%= controlAlign%};
	{% IF controlAlign = "center" Then %}
		margin-left:auto;
		margin-right:auto;
	{% EndIF %}
}

#adc_{%= CurrentADC.InstanceId%} .starContainer { 
	
	display:inline-block;
	*display: inline;
    zoom: 1;
	
}

#adc_{%= CurrentADC.InstanceId%} .captionContainer {
	width:{%= leftSideWidth%};
	text-align:{%= captionTextAlign%};
}

#adc_{%= CurrentADC.InstanceId%} .captionContainer img {
	display:{%= showImage%};
	vertical-align:{%= rowVerticalAlignment%};
}

#adc_{%= CurrentADC.InstanceId%} .caption {
	display:{%= showCaption%};
	text-align:{%= captionTextAlign%};
	width:{%= captionWidth%};
}

#adc_{%= CurrentADC.InstanceId%} .qtip-content { 
	color:rgb({%= tooltipFontColour%}) !important; 
	font-size:{%= tooltipFontSize%} !important;
}

#adc_{%= CurrentADC.InstanceId%} .dk { 

	display: inline-block;
	*display: inline;
    zoom: 1;

	/* Decoration */
	{% IF CurrentADC.PropValue("dkBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= dkBorderThickness%} {%= dkBorderStyle%} rgb({%= dkBorderColour%});
	{% EndIF %}	
	background: rgb({%= dkColourPrimary%}); 
	background: -moz-linear-gradient(top,  rgb({%= dkColourPrimary%}) 0%, rgb({%= dkColourSecondary%}) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= dkColourPrimary%})), color-stop(100%,rgb({%= dkColourSecondary%}))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= dkColourPrimary%}) 0%,rgb({%= dkColourSecondary%}) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= dkColourPrimary%}) 0%,rgb({%= dkColourSecondary%}) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= dkColourPrimary%}) 0%,rgb({%= dkColourSecondary%}) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= dkColourPrimary%}) 0%,rgb({%= dkColourSecondary%}) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr={%= dkColourPrimary.ToHexa()%}, endColorstr={%= dkColourSecondary.ToHexa()%},GradientType=0 ); /* IE6-8 */
	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= dkShadow%};
	-moz-box-shadow: {%= dkShadow%};
	box-shadow: {%= dkShadow%};
	
	padding: {%= dkTextPadding%};
	
	color: rgb({%= dkFontColour%});
	
	margin: {%= dkMargin%};
}

#adc_{%= CurrentADC.InstanceId%} .dk:hover
{
	/* Element */	
	/* Decoration */
	{% IF showDkHoverBorder = "1" Then %}
		border: {%= dkHoverBorderThickness%} {%= dkHoverBorderStyle%} rgb({%= dkHoverBorderColour%}) !important;
	{% Else %}
		border: {%= dkBorderThickness%} {%= dkBorderStyle%} rgb({%= dkBorderColour%}) !important;
	{% EndIF %}
	
	{% IF showDkHoverColour = "1" Then %}
		background: rgb({%= dkHoverColourPrimary%}) !important;
		background: -moz-linear-gradient(top,  rgb({%= dkHoverColourPrimary%}) 0%, rgb({%= dkHoverColourSecondary%}) 100%) !important; /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= dkHoverColourPrimary%})), color-stop(100%,rgb({%= dkHoverColourSecondary%}))) !important; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgb({%= dkHoverColourPrimary%}) 0%,rgb({%= dkHoverColourSecondary%}) 100%) !important; /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgb({%= dkHoverColourPrimary%}) 0%,rgb({%= dkHoverColourSecondary%}) 100%) !important; /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgb({%= dkHoverColourPrimary%}) 0%,rgb({%= dkHoverColourSecondary%}) 100%) !important; /* IE10+ */
		background: linear-gradient(to bottom,  rgb({%= dkHoverColourPrimary%}) 0%,rgb({%= dkHoverColourSecondary%}) 100%) !important; /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{%= dkHoverColourPrimary.ToHexa()%}', endColorstr='{%= dkHoverColourSecondary.ToHexa()%}',GradientType=0 ) !important; /* IE6-8 */
	{% EndIF %}
	{% IF showDkHoverShadow = "1" Then %}
		-webkit-box-shadow: {%= dkHoverShadow%};
		-moz-box-shadow: {%= dkHoverShadow%};
		box-shadow: {%= dkHoverShadow%};
	{% EndIF %}
	
	{% IF showDkHoverFontColour = "1" Then %}
		color:rgb({%= dkHoverFontColour%}) !important;
	{% EndIF %}
}

#adc_{%= CurrentADC.InstanceId%} .dk.selected 
{	
    /* Decoration */	
	{% IF CurrentADC.PropValue("dkSelectedBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= dkSelectedBorderThickness%} {%= dkSelectedBorderStyle%} rgb({%= dkSelectedBorderColour%});
	{% EndIF %}	
	background: rgb({%= dkSelectedColourPrimary%}); 
	background: -moz-linear-gradient(top,  rgb({%= dkSelectedColourPrimary%}) 0%, rgb({%= dkSelectedColourSecondary%}) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= dkSelectedColourPrimary%})), color-stop(100%,rgb({%= dkSelectedColourSecondary%}))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= dkSelectedColourPrimary%}) 0%,rgb({%= dkSelectedColourSecondary%}) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= dkSelectedColourPrimary%}) 0%,rgb({%= dkSelectedColourSecondary%}) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= dkSelectedColourPrimary%}) 0%,rgb({%= dkSelectedColourSecondary%}) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= dkSelectedColourPrimary%}) 0%,rgb({%= dkSelectedColourSecondary%}) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr={%= dkSelectedColourPrimary.ToHexa()%}, endColorstr={%= dkSelectedColourSecondary.ToHexa()%},GradientType=0 ); /* IE6-8 */
	
	-webkit-box-shadow: {%= dkSelectedShadow%};
	-moz-box-shadow: {%= dkSelectedShadow%};
	box-shadow: {%= dkSelectedShadow%};

    color:rgb({%= dkSelectedFontColour%});
}

/*---------------- TOOLTIPS ----------------*/

.tooltip {
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:hover span {
  position: absolute;
  left: 1em;
  top: 2em;
  z-index: 99;
  margin-left: 0;
  width: auto;
}
.classic { 
	text-decoration:none;
	padding: 8px 10px;
	
	background: rgb({%= tooltipColourPrimary%}); 
	background: -moz-linear-gradient(top,  rgb({%= tooltipColourPrimary%}) 0%, rgb({%= tooltipColourSecondary%}) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb({%= tooltipColourPrimary%})), color-stop(100%,rgb({%= tooltipColourSecondary%}))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb({%= tooltipColourPrimary%}) 0%,rgb({%= tooltipColourSecondary%}) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb({%= tooltipColourPrimary%}) 0%,rgb({%= tooltipColourSecondary%}) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb({%= tooltipColourPrimary%}) 0%,rgb({%= tooltipColourSecondary%}) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb({%= tooltipColourPrimary%}) 0%,rgb({%= tooltipColourSecondary%}) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr={%= tooltipColourPrimary.ToHexa()%}, endColorstr={%= tooltipColourSecondary.ToHexa()%},GradientType=0 ); /* IE6-8 */
	
	font-size: {%= tooltipFontSize%};
	color: rgb({%= tooltipFontColour%});
	line-height: 140%;
	
	{% IF tooltipBorderThickness <> "none" Then %}
		border: {%= tooltipBorderThickness%} {%= tooltipBorderStyle%} rgb({%= tooltipBorderColour%});
	{% Else %}
		border: none;
	{% EndIf %}
	-webkit-border-radius:	{%= tooltipCurvedCorners%}; 
	-moz-border-radius:		{%= tooltipCurvedCorners%}; 
	-khtml-border-radius:	{%= tooltipCurvedCorners%}; 
	border-radius:			{%= tooltipCurvedCorners%};
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }